<html lang="ja" >
  <head>
    <mate charset="UTF-8" />
    <link rel="stylesheet" href="練習.css" />
  </head>

  <body>
    <h1 class="a">ようこそBookersへ！</h1>
    <main>
      <div class="b">
        <p><b>Bookers</b>では、さまざまな書籍に関するあなたの意見や</p><br>
        <p>印象を共有し交換することが出来ます</p><br>
        <a class="text-color" href="https://6d951fe22f4748c09be4bcd3740dee42.vfs.cloud9.us-east-1.amazonaws.com/books"><p>start</p></a>
      </div>
    </main>

  </body>

</html>