/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /*ここからindex*/
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.book{
 margin-top: 30px;
 margin-left: 30px;
}

table{
 width: 100%;
 margin-bottom: 10px;
 margin-left: 20px;
 text-align: center;
}

table:last-child{
 margin-bottom: 0px;
}

a:visited{
 color: #000;
}

.create-box{
 margin-bottom: 30px;
 margin-left: 30px;
}

.flash{
 color: #008000;
 margin-top: 30px;
 margin-left: 30px;

}

/*ここからTOP*/
.a{
  margin: 30px;
}

.b{
  margin: 30px;
  margin-left: 70px;
}

/*ここからShow*/
.c{
  margin-top: 30px;
  margin-left: 70px;
  line-height: 5;
}

.d{
  margin-top: 30px;
  margin-left: 30px;
}

/*ここからEdit*/

.edit-box{
 margin-top: 30px;
 margin-left: 30px;
}